// Sticky

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

	.sticked {
		position: fixed;
	}

	.sticked--top.toolbar {
		margin-top: 0 !important;
		width: 100%;
		top: ($header-alv-height + $header-navbar-height) !important;
	}

	jr2-job-search-toolbar + .container {
		margin-top: 4rem;

		background: red;
	}
}
