---
layout: c-detail-public
fabricator: true
---

<div class="job-detail__title">
	<h2 class="text--light">Zuletzt ausgeübter Beruf (100%) - public</h2>
</div>

<p></p>

<div class="detail__content">
	<span class="badge badge-blue">Residence</span>
	<span class="badge badge-gray">Workload</span>
	<span class="badge badge-green">Anstellungsdauer</span>
	<span class="badge badge-yellow">Verfügbarkeit</span>
</div>

<!-- bq -->
<div class="detail__content detail--occupation">
	<h4 class="detail__content__title">Berufliche Qualifikation</h4>
	<div class="content__item">
		<strong>Zuletzt ausgeübter Beruf</strong>
		<span class="text--bold">Kaufmann</span>
	</div>
	<div class="content__item">
		<strong>Abschluss zum Beruf</strong>
		<span>CH-Abschluss</span>
	</div>
	<div class="content__item">
		<strong>Erfahrungsjahre auf dem Beruf</strong>
		<span>mehr als 1 Jahr</span>
	</div>
	<div class="content__item">
		<strong>Kenntnisse, Fähigkeiten, Skills</strong>
		<span>Erfahrung gesammelt im Personalwesen und in der Buchaltung. Kreditoren & Debitoren. Lohnabrechnungen, Verträge,Telefondienst, Post u.s.w.</span>
	</div>

</div>

<div class="detail__content detail--occupation">

	<div class="content__item">
		<strong>Berufsbezeichnung</strong>
		<span class="text--bold">Bürogehilfe</span>
	</div>
	<div class="content__item">
		<strong>Abschluss zum Beruf</strong>
		<span>CH-Abschluss</span>
	</div>
	<div class="content__item">
		<strong>Erfahrungsjahre auf dem Beruf</strong>
		<span>mehr als 3 Jahre</span>
	</div>
	<div class="content__item">
		<strong>Kenntnisse, Fähigkeiten, Skills</strong>
		<span>Kenntnisse, Fähigkeiten, Skills: Gelernter Kaufmann. Versiert im Bereich Buchhaltung und Treuhand. Gutes Zahlenflair vorhanden.</span>
	</div>

</div>

<div class="detail__content detail--occupation">

	<div class="content__item">
		<strong>Berufsbezeichnung</strong>
		<span class="text--bold">Disponent (2 Jahre) </span>
	</div>
	<div class="content__item">
		<strong>Erfahrungsjahre auf dem Beruf</strong>
		<span>weniger als 1 Jahr</span>
	</div>
	<div class="content__item">
		<strong>Kenntnisse, Fähigkeiten, Skills</strong>
		<span>Versiert in der Verpackung und Bereitstellung von Lieferungen.</span>
	</div>

</div>

<!-- languages -->
<div class="detail__content">
	<h4 class="detail__content__title">Sprachkenntnisse</h4>
	<div class="content__item">
		<strong>Deutsch</strong>
		<span>mündlich: sehr gut, schriftlich: sehr gut</span>
	</div>
	<div class="content__item">
		<strong>Englisch</strong>
		<span>mündlich: gut, schriftlich: Grundkenntnisse</span>
	</div>
</div>

<!-- additional information -->
<div class="detail__content">
	<h4 class="detail__content__title">Weitere Angaben</h4>
	<div class="content__item">
		<strong>Arbeitsform</strong>
		<span>keine Angaben</span>
	</div>
	<div class="content__item">
		<strong>Geschlecht</strong>
		<span>männlich</span>
	</div>
	<!-- NOT DISPLAYED IN PUBLIC MODE --
	<div class="content__item">
		<strong>Nationalität</strong>
		<span>Schweiz</span>
	</div>
	-->
	<div class="content__item">
		<strong>Höchste Bildungsstufe</strong>
		<span>Sekundarstufe II - ISCED 3</span>
	</div>
	<div class="content__item">
		<strong>Ausbildung</strong>
		<span>
			Sek. II - Berufsmaturität od. äq.<br />
			Sek. II - Berufliche Grundbildung EFZ od. äq. <br />
			Sek. I - obligatorische Schule
		</span>
	</div>
	<div class="content__item">
		<strong>Gesuchte Arbeitsregion/en</strong>
		<span>
			Bern<br />
			Sense/Singine
		</span>
	</div>
	<div class="content__item">
		<strong>Führerausweiskategorien</strong>
		<span>A, B, D1</span>
	</div>
</div>

<!-- contact -->
<!-- NOT DISPLAYED IN PUBLIC MODE --
<div class="detail__content">
	<h4 class="detail__content__title">Personalien / Kontaktdaten des Kandidaten</h4>
	<div class="content__item">
		<strong>Name / Vorname</strong>
		<span>Muster Hans</span>
	</div>
	<div class="content__item">
		<strong>Adresse</strong>
		<span>Adresse, PLZ</span>
	</div>
	<div class="content__item">
		<strong>Telefon</strong>
		<span>031 300 01 01</span>
	</div>
	<div class="content__item">
		<strong>Mobile</strong>
		<span>079 300 01 01</span>
	</div>
	<div class="content__item">
		<strong>E-Mail</strong>
		<span><a href="mailto:email@provider.ch">email@provider.ch</a></span>
	</div>
</div>
-->
