---
layout: jr-detail_external
fabricator: true
---

<div class="alert alert-info" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	Dieses Inserat wurde auf einer externen Website gefunden. Die Arbeitslosenversicherung und öffentliche Arbeitsvermittlung stellt Ihnen dieses Suchresultat als zusätzliche Dienstleistung zur Verfügung, hat aber keinerlei Einfluss auf dessen Inhalt und Qualität.
</div>

<div class="detail-page__title">
	<h2 class="text--light">Job Detail external</h2>
	<strong>Company Name</strong>
	<small class="detail-page__date">Vakant seit Date</small>
</div>

<p></p>

<div class="job-detail__content">
	<span class="badge badge-blue">Location</span>
	<span class="badge badge-gray">Workflow</span>
	<span class="badge badge-green">Contract</span>
	<span class="badge badge-yellow">ab Sofort</span>
</div>

<!-- job description -->
<div class="job-detail__content">
	<p><span>GEHRIG GROUP gehört zur Metall Zug Gruppe und ist eine Schwesterunternehmung der V-ZUG AG. Ob Geschirrspüler, thermische Geräte, Kaffeemaschinen oder medizinische Hygiene- oder Pflegesysteme, die GEHRIG GROUP AG bietet den Partnern aus der Tourismusbranche, Gastronomie, Hotellerie, Spitälern oder Heime alles aus einer Hand. Bekannte Premium-Marken wie Gehrig, Hildebrand, Hobart, Eloma, Moretti Forni, Thermoplan, Faema und Horcher zählen zu unserem Sortiment: Handel, Projektgeschäft, sowie Dienstleistungen des Kundendienstes (Service, Wartungen) zählen zu den Stärken der GEHRIG GROUP AG.</span></p>
	<p><span>Im Rahmen einer Nachfolgeplanung suchen wir per sofort oder nach Vereinbarung für die Serviceregion Zürich einen</span></p>
	<p><span>Hat diese spannende Stelle Ihr Interesse geweckt? Gerne erwarten wir Ihre komplette Bewerbung (Lebenslauf, Arbeitszeugnisse, Qualifikationsnachweise usw.) zur vertraulichen Durchsicht. Vielen Dank für Ihre Mithilfe, in dem Sie uns Ihre Bewerbung über dasOnline Formularzusenden.</span></p>
</div>
<!-- /job description -->

<!-- languages -->
<div class="job-detail__content">
	<strong>Sprachkenntnisse</strong>
	<span>Deutsch, Englisch</span>
</div>

<div class="job-detail__features d-none d-md-flex">
	<div id="map" class="job-detail__map flex-height md-whiteframe-1dp"></div>

	<div class="features">
		<div class="logo-box md-whiteframe-1dp">
			<h4>Company Name</h4>
			<h4 class="text--light">Location</h4>
			<a href="#">14 Jobs anzeigen</a>
		</div>

		<div class="logo-box md-whiteframe-1dp">
			<h4>Jobname</h4>
			<h4 class="text--light">Pensum, Location</h4>
			<a href="#">124 ähnliche Jobs anzeigen</a>
		</div>
	</div>
</div>

<script>
	function initMap() {
		var bern = {lat: 46.946953, lng: 7.424150};
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 12,
			center: bern
		});
		var marker = new google.maps.Marker({
			position: bern,
			map: map
		});
	}
</script>
<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3DRbPhGw-Q2RRK7EkcYqDsSFd0TSn00I&callback=initMap">
</script>
