---
layout: jr-detail
fabricator: true
---

<h1 class="text--light">Job Titel</h1>
<div>
	<span class="text--primary-color">Company Name</span>
	<small>Vakant seit Date</small>
</div>

<p></p>

<div>
	<span class="badge badge-primary">Primary</span>
	<span class="badge badge-success">Success</span>
	<span class="badge badge-info">Info</span>
	<span class="badge badge-warning">Warning</span>
</div>

<p></p>
<!-- job description -->
<p><span>GEHRIG GROUP gehört zur Metall Zug Gruppe und ist eine Schwesterunternehmung der V-ZUG AG. Ob Geschirrspüler, thermische Geräte, Kaffeemaschinen oder medizinische Hygiene- oder Pflegesysteme, die GEHRIG GROUP AG bietet den Partnern aus der Tourismusbranche, Gastronomie, Hotellerie, Spitälern oder Heime alles aus einer Hand. Bekannte Premium-Marken wie Gehrig, Hildebrand, Hobart, Eloma, Moretti Forni, Thermoplan, Faema und Horcher zählen zu unserem Sortiment: Handel, Projektgeschäft, sowie Dienstleistungen des Kundendienstes (Service, Wartungen) zählen zu den Stärken der GEHRIG GROUP AG.</span></p>
<p><span>Im Rahmen einer Nachfolgeplanung suchen wir per sofort oder nach Vereinbarung für die Serviceregion Zürich einen</span></p>
<p><span>Hat diese spannende Stelle Ihr Interesse geweckt? Gerne erwarten wir Ihre komplette Bewerbung (Lebenslauf, Arbeitszeugnisse, Qualifikationsnachweise usw.) zur vertraulichen Durchsicht. Vielen Dank für Ihre Mithilfe, in dem Sie uns Ihre Bewerbung über dasOnline Formularzusenden.</span></p>
<!-- /job description -->


<h2>Einsatzort & ähnliche Jobs für "Zimmermann" in Winterthur</h2>
<div>[google maps]</div>
<button class="btn btn-primary">Jetzt Bewerben</button>
<button class="btn btn-default">Ähnliche Jobs (17)</button>


