---
layout: jr-standard
fabricator: true
---


<div class="base">
	<div class="base__content--wide">
		<div class="alv-logo-box md-whiteframe-1dp">
			<h2 class="text--light">
				<span class="fa fa-table" aria-hidden="true"></span>
				Jobs bewirtschaften
			</h2>

			<div>
				suche, filter
			</div>

			<table class="table table-striped table-hover table-sm">
				<thead>
				<tr>
					<th scope="col">#Job-Room</th>
					<th scope="col">#AVAM</th>
					<th scope="col">Meldedatum</th>
					<th scope="col">Stellenbezeichnung</th>
					<th scope="col">Arbeitsort</th>
					<th scope="col">Status</th>
					<th scope="col">Aktion</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fat</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Larry</td>
					<td>the Bird</td>
					<td>@twitter</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>
				</tr>
				</tbody>
			</table>

		</div>
	</div>

	<div class="base__related">
		related
	</div>

</div>

