<div class="await await-xl await--primary"></div>

<div class="await await-xl await--light"></div>

<div class="await await-lg await--primary"></div>

<div class="await await-lg await--light"></div>

<div class="await await--primary"></div>

<div class="await await--light"></div>

<div class="await await-sm await--primary"></div>

<div class="await await-sm await--light"></div>

<hr />

<button class="btn btn-primary btn-lg">
	<div class="await await--inverse"></div>
</button>
<button class="btn btn-primary btn-lg btn-await btn-await--inverse">loading</button>


<hr />

<button class="btn btn-primary">
	<div class="await await--inverse"></div>
</button>
<button class="btn btn-primary btn-await btn-await--inverse">loading</button>

<hr />

<button class="btn btn-primary btn-sm">
	<div class="await await--inverse"></div>
</button>
<button class="btn btn-primary btn-sm btn-await btn-await--inverse">loading</button>
