<div class="toolbar toolbar--light md-whiteframe-3dp">
	<jr2-job-search-toolbar jhistickytoolbaritem="" _nghost-c2="">
		<div _ngcontent-c2="" class="container">
			<div _ngcontent-c2="" class="toolbar-collapse">
				<form _ngcontent-c2="" novalidate=""
					  class="ng-untouched ng-pristine ng-valid">
					<div _ngcontent-c2="" class="form-inline toolbar-form">
						<div _ngcontent-c2="" class="form-group form-group--wide">
							<jr2-typeahead-multiselect _ngcontent-c2=""
													   formcontrolname="baseQuery"
													   _nghost-c3=""
													   class="ng-untouched ng-pristine ng-valid">
								<div _ngcontent-c3=""
									 class="form-control form-control-lg typeahead-multiselect d-flex flex-row flex-wrap">
									<input _ngcontent-c3=""
										   aria-multiline="false"
										   autocapitalize="off"
										   autocomplete="off"
										   autocorrect="off" autofocus=""
										   class="input typeahead-multiselect__input ng-untouched ng-pristine ng-valid"
										   name="inputValue" role="combobox"
										   placeholder="Berufsbezeichnung, Berufsgruppe, Fähigkeiten"
										   aria-autocomplete="list"
										   aria-expanded="false">
								</div>
							</jr2-typeahead-multiselect>
						</div>
						<div _ngcontent-c2="" class="form-group form-group--icon">
							<jr2-typeahead-multiselect _ngcontent-c2=""
													   formcontrolname="localityQuery"
													   _nghost-c3=""
													   class="ng-untouched ng-pristine ng-valid">
								<div _ngcontent-c3=""
									 class="form-control form-control-lg typeahead-multiselect d-flex flex-row flex-wrap">
									<input _ngcontent-c3=""
										   aria-multiline="false"
										   autocapitalize="off"
										   autocomplete="off"
										   autocorrect="off" autofocus=""
										   class="input typeahead-multiselect__input ng-untouched ng-pristine ng-valid"
										   name="inputValue" role="combobox"
										   placeholder="Ort, Region, Kanton"
										   aria-autocomplete="list"
										   aria-expanded="false">
								</div>
							</jr2-typeahead-multiselect>
							<jr2-geo-location-select _ngcontent-c2="" _nghost-c4="">
								<!----> </jr2-geo-location-select>
						</div>
						<div style="flex-grow: 1;" class="d-none d-sm-block"></div>
						<button _ngcontent-c2="" class="btn btn-primary btn-lg"
									type="submit"> <!----> <!----><span
								_ngcontent-c2=""><span>500+ Jobs</span></span></button>
					</div>
				</form>
			</div>
		</div>
	</jr2-job-search-toolbar>
</div>
