<div class="logo">
	<div class="logo__title">
		<strong>work</strong><span class="title__plus-ch">ch</span>
	</div>
</div>

<p></p>

<div class="logo">
	<div class="logo__title-small">
		<strong>work</strong><span class="title__plus-ch">ch</span>
	</div>
	<h3>Subtitle</h3>
</div>

<p></p>

<div class="logo logo--inverse">
	<div class="logo__title-small">
		<strong>work</strong><span class="title__plus-ch">ch</span>
	</div>
	<h3>Job-Room</h3>
</div>

<p></p>

<div class="logo logo--inverse">
	<div class="logo__title-small">
		<strong>work</strong><span class="title__plus-ch">ch</span>
	</div>
	<h3>Amstat</h3>
</div>

<p></p>

<div style="width: 161px; height: 161px;">

	<span class="logo--box">
	 w100px
	</span>

</div>

<div style="width: 200px; height: 200px;">

	<span class="logo--box">
	 w200px
	</span>

</div>

<div style="width: 400px; height: 200px;">

	<span class="logo--container">
	 w400px * h200px
	</span>

</div>
