<!-- REFACTORING -> LISTS -->

<div class="logo">
	<div class="logo__title">
		<strong>name</strong><span class="title__plus-ch">ch</span>
	</div>
</div>

<p></p>

<div class="logo logo--inverse">
	<div class="logo__title">
		<strong>name</strong><span class="title__plus-ch">ch</span>
	</div>
</div>

<p></p>

<div class="logo">
	<div class="logo__title-small">
		<strong>name</strong><span class="title__plus-ch">ch</span>
	</div>
	<span class="logo__brand--job-room">Brand</span>
</div>

<p></p>

<div class="logo logo--inverse">
	<div class="logo__title-small">
		<strong>name</strong><span class="title__plus-ch">ch</span>
	</div>
	<span class="logo__brand--job-room">Brand</span>
</div>

<p></p>

<div class="logo logo--inverse">
	<strong class="logo__brand--job-room">Job-Room</strong>
	<div class="logo__title-small">
		<strong>alv</strong><span class="title__plus-ch">ch</span>
	</div>
</div>

<p></p>

<div class="logo logo--inverse">
	<strong class="logo__brand--amstat">amstat</strong>
	<div class="logo__title-small">
		<strong>alv</strong><span class="title__plus-ch">ch</span>
	</div>
</div>

<hr />

<nav class="navbar navbar-light bg-faded">
	<div class="container">
		<a class="navbar-brand logo" href="#">
			<div class="logo__title">
				<strong>name</strong><span class="title__plus-ch">ch</span>
			</div>
		</a>

		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="#">Item</a>
			</li>
		</ul>
	</div>
</nav>

<hr />

<div style="width: 400px; height: 200px;">

	<span class="logo-box">
	 w400px * h200px
	</span>

</div>
