<fieldset class="form-group">
	<legend>Radio buttons</legend>
	<div class="form-check">
		<label class="form-check-label">
			<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			Option one is this and that&mdash;be sure to include why it's great
		</label>
	</div>
	<div class="form-check">
		<label class="form-check-label">
			<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
			Option two can be something else and selecting it will deselect option one
		</label>
	</div>
	<div class="form-check disabled">
		<label class="form-check-label">
			<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
			Option three is disabled
		</label>
	</div>
</fieldset>

<fieldset class="form-group">
	<legend>Styled Radio buttons</legend>
	<div class="radio">
		<input type="radio" name="optionsRadios" id="optionsRadios4" value="option4" checked="checked">
		<label for="optionsRadios4">
			First radio
		</label>
	</div>

	<div class="radio">
		<input type="radio" name="optionsRadios" id="optionsRadios5" value="option5" checked="checked">
		<label for="optionsRadios5">
			Second radio
		</label>
	</div>
</fieldset>
