<form class="form-inline">
	<div class="form-group form-group--navbar">
		<label for="search" class="sr-only">Wie können wir helfen?</label>
		<div class="form-group--icon">
			<input type="text" class="form-control" id="search" />

			<a data-toggle="collapse" href="#searchForm" aria-expanded="false" aria-controls="searchForm" class="fa-stack form-control--icon">
				<i class="fa fa-times fa-stack-1x"></i>
			</a>
		</div>
	</div>
	<a class="nav-link nav-link--search-left" aria-controls="searchForm"><i class="fa fa-search" aria-hidden="true"></i></a>
</form>
