<h3>dropdown</h3>


	<ngb-typeahead-window class="dropdown-menu" role="listbox"
						  style="display: block; position: static;"
						  id="ngb-typeahead-0">
		<button class="dropdown-item" role="option" type="button" id="ngb-typeahead-0-0">
			<div
				class="typeahead-multiselect__type-label pull-right typeahead-multiselect__type-label--occupation"
				ng-reflect-klass="typeahead-multiselect__type-la"
				ng-reflect-ng-class="typeahead-multiselect__type-la"> Occupation
			</div>
			<div>
				<ngb-highlight
					ng-reflect-result="Mitarbeiter Info-Desk"
					ng-reflect-term="info">
					Mitarbeiter<span  class="ngb-highlight">Info</span>-Desk
				</ngb-highlight>
			</div>
		</button>

		<button class="dropdown-item" role="option" type="button" id="ngb-typeahead-0-1">
			<div >
				<ngb-highlight
					ng-reflect-result="Info Broker" ng-reflect-term="info">
					<span  class="ngb-highlight">Info</span>Broker
				</ngb-highlight>
			</div>
		</button>

		<button class="dropdown-item" role="option" type="button" id="ngb-typeahead-0-2">
			<div >
				<ngb-highlight
					ng-reflect-result="Info-Broker" ng-reflect-term="info">
					<span  class="ngb-highlight">Info</span>-Broker
				</ngb-highlight>
			</div>
		</button>

		<button class="dropdown-item" role="option" type="button" id="ngb-typeahead-0-3">
			<div >
				<ngb-highlight
					ng-reflect-result="Info-Brokerin" ng-reflect-term="info">
					<span  class="ngb-highlight">Info</span>-Brokerin
				</ngb-highlight>
			</div>
		</button>

		<button class="dropdown-item" role="option" type="button" id="ngb-typeahead-0-4">
			<div >
				<ngb-highlight
					ng-reflect-result="Mitarbeiterin Info-Desk"
					ng-reflect-term="info">Mitarbeiterin <span
					class="ngb-highlight">Info</span>-Desk
				</ngb-highlight>
			</div>
		</button>

		<button class="dropdown-item" role="option" type="button" id="ngb-typeahead-0-5">
			<div >
				<ngb-highlight
					ng-reflect-result="Info Brokerin" ng-reflect-term="info">
					<span  class="ngb-highlight">Info</span>Brokerin
				</ngb-highlight>
			</div>
		</button>

		<button class="dropdown-item" role="option" type="button" id="ngb-typeahead-0-6">
			<div >
				<ngb-highlight
					ng-reflect-result="Infografiker" ng-reflect-term="info">
					<span  class="ngb-highlight">Info</span>grafiker
				</ngb-highlight>
			</div>
		</button>

		<button class="dropdown-item active" role="option" type="button"
				id="ngb-typeahead-0-7">
			<div >
				<ngb-highlight
					ng-reflect-result="Infografikerin" ng-reflect-term="info">
					<span  class="ngb-highlight">Info</span>grafikerin
				</ngb-highlight>
			</div>
		</button>

		<button class="dropdown-item" role="option" type="button" id="ngb-typeahead-0-8">
			<div >
				<ngb-highlight
					ng-reflect-result="Infografist" ng-reflect-term="info">
					<span  class="ngb-highlight">Info</span>grafist
				</ngb-highlight>
			</div>
		</button>

		<button class="dropdown-item" role="option" type="button" id="ngb-typeahead-0-9">
			<div >
				<ngb-highlight
					ng-reflect-result="Infografistin" ng-reflect-term="info">
					<span  class="ngb-highlight">Info</span>grafistin
				</ngb-highlight>
			</div>
		</button>

		<button class="dropdown-item" role="option" type="button" id="ngb-typeahead-0-10">
			<div
				class="typeahead-multiselect__type-label pull-right typeahead-multiselect__type-label--classification"
				ng-reflect-klass="typeahead-multiselect__type-la"
				ng-reflect-ng-class="typeahead-multiselect__type-la"> Classification
			</div>
			<div  class="fist-in-group-item"
			>
				<ngb-highlight
					ng-reflect-result="Berufe der Informatik"
					ng-reflect-term="info">Berufe der<span
					class="ngb-highlight">Info</span>rmatik
				</ngb-highlight>
			</div>
		</button>

	</ngb-typeahead-window>

<p class="clearfix"></p>

<h3>selected items</h3>

<jr2-typeahead-multiselect class="ng-untouched ng-valid ng-dirty">
	<div class="form-control form-control-lg typeahead-multiselect d-flex flex-row flex-wrap">

		<span class="btn btn-primary btn-sm typeahead-multiselect__tag typeahead-multiselect__tag--free-text">
			java <i aria-hidden="true" class="fa fa-times remove-button"></i>
		</span>
		<span class="btn btn-primary btn-sm typeahead-multiselect__tag typeahead-multiselect__tag--occupation">
			Produkt-Entwicklerin (Java) <i aria-hidden="true" class="fa fa-times remove-button"></i>
		</span>
		<span class="btn btn-primary btn-sm typeahead-multiselect__tag typeahead-multiselect__tag--classification">
			Berufe der Informatik <i aria-hidden="true" class="fa fa-times remove-button"></i>
		</span>

		<form autocomplete="off" novalidate="" class="ng-valid ng-touched ng-dirty">
			<input aria-multiline="false"
				  autocapitalize="off"
				  autocomplete="off"
				  autocorrect="off"
				  autofocus=""
				  class="input typeahead-multiselect__input ng-valid ng-touched ng-dirty"
				  name="inputValue"
				  role="combobox"
				  placeholder=""
				  aria-autocomplete="list"
				  aria-expanded="false" />
		</form>
	</div>
</jr2-typeahead-multiselect>

