---
layout: amstat-home
fabricator: true
---

<iframe   src="https://www.amstat.ch/MicroStrategy/servlet/mstrWeb?Server=pslamdamstr30p21.bfi.admin.ch&Project=Amstat+N+%28Produktion%29&Port=34952&url_others=&evt=2048001&src=mstrWeb.2048001&currentViewMedia=1&visMode=0&documentID=523ED7304FFDBE30DCA7E688D2ACB3E0&uid=mstr_Website_de&pwd=&hiddenSections=dockTop,header,path,dockLeft,error,dockRight,dockBottom,footer"
		  width="1029"
		  height="662"
		  scrolling="no"
		  marginheight="0"
		  marginwidth="0"
		  frameborder="0">
</iframe>
