---
layout: standard-b
fabricator: true
---
<div class="base">
	<div class="base__subnavbar">

		<div class="address__filter">
			<div class="form-group">
				<label for="address_filter">Adressen filtern</label>
				<select class="form-control form-control-sm custom-select" id="address_filter">
					<option value="stes" selected>Stellensuchende</option>
					<option value="ag">Arbeitgeber</option>
				</select>
			</div>

			<div class="form-group">
				<label for="plz" class="sr-only">Ort, Kanton</label>
				<input type="text" class="form-control form-control-sm" id="plz" placeholder="Ort, Kanton">
			</div>

			<div id="addr_stes-box">
				<div class="checkbox">
					<input id="check_rav" name="check_rav" type="checkbox" />
					<label for="check_rav">
						<span class="small">Regionale Arbeitsvermittlungszentren</span>
					</label>
				</div>
				<div class="checkbox">
					<input id="check_alk" name="check_alk" type="checkbox" />
					<label for="check_alk">
						<span class="small">Arbeitslosenkassen</span>
					</label>
				</div>
				<div class="checkbox">
					<input id="check_kast" name="check_kast" type="checkbox" />
					<label for="check_kast">
						<span class="small">Kantonale Arbeitsämter</span>
					</label>
				</div>
			</div>

			<div id="addr_ag-box">
				<div class="radio">
					<input id="radio_rav" name="addr_ag" type="radio" />
					<label for="radio_rav">
						<span class="small">Regionale Arbeitsvermittlungszentren</span>
					</label>
				</div>
				<div class="radio">
					<input id="radio_alk" name="addr_ag" type="radio" />
					<label for="radio_alk">
						<span class="small">Arbeitslosenkassen</span>
					</label>
				</div>
				<div class="radio">
					<input id="radio_kast" name="addr_ag" type="radio" />
					<label for="radio_kast">
						<span class="small">Kantonale Arbeitsämter</span>
					</label>
				</div>
			</div>
		</div>

	</div>

	<div class="base__content">
		<!-- adress -->
		<h3 class="text--light">17 Adressen gefunden</h3>

		<div class="logo-box flex-height result-list__item md-whiteframe-1dp">
			<h4 class="text--primary-color">ORP Bienne</h4>
			<div class="d-flex w-100 flex-column flex-sm-row">
				<address class="order-1 container--xxl-w33 container--w50">
					Zentralstrasse 63<br />
					2502 Biel/Bienne
				</address>
				<p class="order-2">
					+41 31 635 35 60<br />
					orp.bienne@vol.be.ch<br />
					www.vol.be.ch
				</p>
			</div>
		</div>

		<div class="logo-box flex-height result-list__item md-whiteframe-1dp">
			<h4 class="text--primary-color">RAV Bern Zentrum</h4>
			<div class="d-flex w-100 flex-column flex-sm-row">
				<address class="order-1 container--xxl-w33 container--w50">
					Reiterstrasse 9B<br />
					3013 Bern
				</address>
				<p class="order-2">
					+41 31 636 02 62<br />
					rav.bernzentrum@vol.be.ch<br />
					www.vol.be.ch
				</p>
			</div>
		</div>
		<!-- /address -->
	</div>

</div>
