/**
 * Resets for CD Bund PoC
 */

.access-keys,
.nav-servicen,
.nav-services h2,
.nav-mobile,
.mod-logo img {
	display: none !important;
}

.mod-logo {
	// todo: navbar height * 30px!!
	height: $logo-height;
	width: calc(#{$logo-height} * #{$phi});

	font-weight: 300;

	background: $additional-accent-amber;
	color: $black;
	display: inline-block;

	@include alv-border-radius($alv-box-radius);

	padding: ($alv-box-padding/3) $alv-box-padding;

	-webkit-box-shadow: 10px 5px 20px 10px rgba(0,0,0,0.05);
	-moz-box-shadow: 10px 5px 20px 10px rgba(0,0,0,0.05);
	box-shadow: 10px 5px 20px 10px rgba(0,0,0,0.05);
}

.mod-logo h2 {
	font-size: $logo-size;
	font-weight: 400;
	letter-spacing: $logo-spacing;

	.title__plus-ch,
	.title__plus-ch:before {
		color: $gray;
	}
}

header {
	background-color: rgba($gray-lighter, .75);
}

.nav-lang ul {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
	}
}
