// Job-Room job-search
.content--job-search {
	position: relative;
	background: rgba($main-color-gray-light-50,0.75);
	margin-top: 52px;

	@media screen and (max-width: 767px) {
		margin-top: 36px;
	}
}

.job-search__form {
	width: calc(75% - #{$margin-y-general*2});
	padding: ($margin-y-general*2);

	@media screen and (max-width: 479px) {
		.form-control-lg {
			padding: $input-btn-padding-y $input-btn-padding-x;
			font-size: $font-size-base;
			line-height: $input-height-inner;
		}

		.btn-lg {
			font-weight: $btn-font-weight;
			line-height: $input-btn-line-height;
			@include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-base, $input-btn-line-height, $btn-border-radius);
		}
	}
}

.job-search__radar {
	width: 25%;
	margin: ($margin-y-general*2) 0;

	@media screen and (max-width: 767px) {
		display: none;
	}
}
.job-radar {
	padding: $margin-x-narrow;
	margin: 0 $margin-y-general;

	font-size: $small-font-size;
	text-align: center;
	color: $brand-primary;

	&:hover {
		background: $brand-primary;
		color: theme-color('light');

		a {
			color: theme-color('light');
		}

		.badge-radar {
			color: $brand-primary;

			@include badge-variant(theme-color('light'));
		}
	}

	a {
		display: block;
		font-weight: 700;
		margin-top: $margin-x-narrow;
		color: transparent;
	}
}

.job-search__filter {
	@media screen and (max-width: 479px) {
		background-color: rgba($main-color-gray-50, 1.0);
	}
}

// TODO CHECK THIS
.job-search__--toggler {
	font-size: 0.85rem;
	color: $main-accent-color;
	text-align: center;

	&:before {
		display: inline-block;
		margin-right: .5em;
		vertical-align: -0.05em;

		font-family: FontAwesome;
		font-size: 1.125em;
		content: '\f13a';

		-webkit-transition: transform 0.25s ease; /* Safari */
		transition: transform 0.25s ease;
	}
}

.show + .job-search__filter--toggler:before {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);

	-webkit-transition: transform 0.25s ease; /* Safari */
	transition: transform 0.25s ease;
}


// Job-Room-result
.result-list__title {
	font-weight: $text-weight-light;
}

.result-list__item {
	padding: $alv-box-radius;
	margin-bottom: $margin-x-narrow;

	cursor: pointer;

	&:hover {
		background: $main-accent-color-50;
	}

	em {
		@include highlight-tag();
	}


	.result-list__item__content {
		>.w-100 {
			width: auto !important;
		}
	}

	.result-list__item__date {
		vertical-align: text-top;
	}

	.result-list__item__star {
		padding: 0 10px;
		font-size: 1.25em;
	}
}

.result-list__item--visited {
	background: $main-accent-color-100;
}

@media screen and (max-width: 767px) {
	.filter__title,
	.result-list__title {
		text-align: center;

		font-weight: $text-weight-regular;
		font-size: $text-base-size;

		margin: $margin-y-general $margin-x-narrow;

	}

	.filter__title {
		margin: $margin-x-narrow;
	}

	.result-list__item {
		padding: $margin-x-narrow;
		margin-bottom: $margin-x-narrow;
	}
}

@media screen and (max-width: 767px) {

	.job-search__form {
		width: 100%;

		padding: 0 ($grid-gutter-width / 2) 1rem ($grid-gutter-width / 2);
	}

}
