// Buttons

.btn {
	font-family: $font-family-base;
	// some Browsers has default rounded corners
	@if $enable-rounded == false {
		border-radius: 0;
	}
}

.btn-primary:hover {
	background: $main-accent-color-hover;
	border-color: $main-accent-color-hover;
}
