/**
 * CONTENTS
 *
 * FOOTER...............(()).
 *
 */

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

footer {
	margin-top: $margin-x-general;
}
footer,
.footer {
	background: $gray-dark;
	color: $inverse-color;

	padding: 2rem 0;
}

// todo vars!
.footer--logos {
	display: flex;
	flex-direction: row;
	justify-content: center;

	.footer--logos__logo {
		margin: 0 2rem;
		width: 25%;

		text-align: center;

		img {
			max-height: 75px;

			&.cd-bund {
				max-height: 150px;
			}
		}
	}
}

.footer--seco {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding: $navbar-padding-x;

	background: $inverse-bg;
	color: $inverse-color;
	font-size: $small-font-size;

	a {
		color: $inverse-color;
		display: inline-block;

		padding: 0.25rem;

		&:hover {
			color: $inverse-color;
			text-decoration: none;
			background: $gray-dark;
		}
	}
}
