/**
 * CONTENTS
 *
 * HEADER...............(()).
 *
 * ALV-HEADER
 * alv-header...........(()).
 * alv-brand............(()).
 * alv-themes...........(()).
 *
 */

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

body {
	margin-top: calc(90px + .5rem); // alv-header 30px, navbar 60px

	@media screen and (min-width: 480px){
		margin-top: calc(90px + 4rem); // alv-header 30px, navbar 60px

		&.has-jumbotron {
			margin-top: 90px; // alv-header 30px, navbar 60px NO toolbar!
		}

		&.has-toolbar {
			margin-top: 223px; // alv-header 30px, navbar 60px + toolbar 133px
		}
	}
}

.header {
	/*
	margin-bottom: .5rem;

	// todo refactoring!!
	@media screen and (min-width: 480px){
		margin-bottom: 4rem;

		&.has-jumbotron,
		&.has-toolbar,
		&.has-mainnavigation,
		&.fixed-top {
			margin-bottom: 0;
		}


		&:not(.has-jumbotron) + .jumbotron:not(.sticked),
		&:not(.has-toolbar) + .toolbar:not(.sticked) {
			margin-top: -4rem;
		}

	}
*/
}

.fixed-top {

	@media screen and (min-width: 480px){
		&.has-toolbar ~ .toolbar,
		~ .toolbar{
			top: 90px;
			position: fixed;
			width: 100%;
		}
	}
}

.has-mainnavigation {
	border-bottom: 1px solid #CFCFCF;
}

/*------------------------------------*\
  #ALV-HEADER
\*------------------------------------*/

.alv-header {
	position: relative;
	display: flex;
	flex-direction: column;
	// todo: vars
	padding: 0 10px;
}

/**
 * Used for brand, project, or site names.
 */

.alv-header__brand {
	// todo vars
	display: inline-block;
	padding-top: .25rem;
	padding-bottom: .25rem;
	margin-right: $navbar-padding-x;
	font-size: $small-font-size;
	line-height: inherit;
	white-space: nowrap;

	@media screen and (max-width: 479px){
		font-size: 12px !important;
	}
}

/**
 * Themes
 * Styles for switching between alvs with light or dark background.
 *
 * Dark links against a light background
 */

.alv-header--light {
	background: theme-color('light');

	.alv-header__brand {
		color: $body-color;
	}
}

/**
 * White links against a dark background
 */
.alv-header--inverse {
	background: $main-color-black;

	.alv-header__brand {
		color: $white;
	}
}
