/**
 * CONTENTS
 *
 * BASE.................(()).
 *
 * ALV-HEADER
 * alv-header...........(()).
 *
 */

/*------------------------------------*\
  #BASE
\*------------------------------------*/

/**
 * Common page Layout:	| subnavbar:1/5 | content:3/5 | related:1/5 | OR
 						| subnavbar:1/5 | content-wide:4/5 |
 */

.base {
	@include make-row();

	// todo: margin-bottom?!

	.base__subnavbar,
	.base__content,
	.base__content--wide,
	.base__related	{
		position: relative;
		width: 100%;
		min-height: 1px; // Prevent columns from collapsing when empty

		@include make-gutters($grid-gutter-widths);
	}

	.base__subnavbar,
	.base__related {
		@include make-col(1, 5);
	}

	.base__content {
		@include make-col(3, 5);
	}
	.base__content--wide {
		@include make-col(4, 5);
	}
}

/**
 * Landingpage Layout: regular: 1/3 and wide: 2/3
 */

.landing-page {
	@include make-row();

	// todo: mrgin-bottom?!

	.landing-page__regular,
	.landing-page__wide {
		position: relative;
		width: 100%;
		min-height: 1px; // Prevent columns from collapsing when empty
		margin-bottom: $margin-bottom-general;

		@include make-gutters($grid-gutter-widths);
	}

	.landing-page__regular {
		@include make-col(1, 3);
	}

	.landing-page__wide {
		@include make-col(2, 3);
	}

	.landing-page--container {
		@include alv-border-radius($alv-box-radius);
		background: $gray-lightest;
		padding: $alv-box-radius;
	}
}
