// Mega menu canvas
.dropdown--canvas {

	// Reset margin and padding
	.dropdown-menu {
		left    : auto;
		margin  : 0;

		@include make-gutters();
		// todo vars
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	// Default canvas width
	.dropdown-menu {
		@include make-megamenu-max-widths();
	}

	.dropdown-toggle {
		// Generate the caret automatically
		&::after {
			margin: 0;
			border: none;
		}
	}
}

.nav-item.megamenu.show {
	background: $white;

	border-right: 1px solid $input-border-color;
	border-left: 1px solid $input-border-color;

	.nav-link {
		margin-right: calc(.5rem - 1px);
		margin-left: calc(.5rem - 1px);
	}
}

.megamenu-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	div {
		flex: 1;
	}

	.dropdown-title {
		display: block;
		font-weight: $text-weight-light;

		padding: 3px $dropdown-item-padding-x;

		~ .dropdown-title {
			margin-top: $margin-x-general;
		}
	}

	.dropdown-item {
		font-size: $small-font-size;
		color: $brand-primary;
	}
}
