// Navbar
.navbar {
	// todo??!!
	font-size: 20px;

	border: none;
	border-bottom: 1px solid $gray-lighter;
}

.navbar-light.bg-faded {
	background-color: rgba($gray-lighter, .75);
}

.navbar-brand {
	&.logo {
		position: absolute;
		top: -($navbar-padding-y);
		z-index: $logo-zIndex;
	}
}

// todo refactoring
.navbar-nav {

	.nav-link {
		padding-right: 1em !important;
		padding-left: 1em !important;

		margin-right: .5rem;
		margin-left: .5rem;

		&:hover,
		&.active {
			color: $body-color !important;
			background: $body-bg;
		}

		&.nav-link--login {
			background: $brand-primary;
		}
	}

	.nav-link.nav-link--login {
		padding-right: 1.75em !important;
		padding-left: 1.75em !important;

		background: $brand-primary;
		color: $inverse-color;

		&:hover,
		&.active {
			background: rgba($brand-primary, .8);
			color: $inverse-color !important;
		}
	}
}

// Icons
.nav-link {
	.nav-link__icon {
		border: 2px solid $brand-primary;
		display: inline-block;
		border-radius: 50%;
		padding: 2px;

		.icon__stack {
			border-radius: 50%;
			height: 2.5em;
			width: 2.5em;
			display: inline-block;
			line-height: 2.5em;
			text-align: center;
			background-color: transparent;

			font-size: 1.25em;
			color: inherit;
		}
	}
}

.nav-link.active,
.active > .nav-link,
.nav-item:hover,
.nav-link:hover {
	.nav-link__icon {
		border: 2px solid $brand-primary;
		display: inline-block;
		border-radius: 50%;
		padding: 2px;

		.icon__stack {
			border-radius: 50%;
			height: 2.5em;
			width: 2.5em;
			display: inline-block;
			line-height: 2.5em;
			text-align: center;
			background-color: $brand-primary;

			font-size: 1.25em;
			color: white;
		}
	}
}

// Language Switcher
// todo refactoring
.navbar--language-switcher > .nav-item {
	font-size: $small-font-size;

	.nav-link {
		padding-top: 0.75em;
		padding-bottom: 0.75em;

		padding-right: .5rem !important;
		padding-left: .5rem !important;

		margin-right: 0;
		margin-left: 0;
	}

	&.active > .nav-link {
		font-weight: 700;
	}
}


/*------------------------------------*\
  #TOOLBAR
\*------------------------------------*/

.toolbar {
	position: relative;
	background-color: rgba($gray-lighter, .5);
	border-bottom: 1px solid $gray-lighter;

	margin-bottom: $margin-x-filter;

	&.toolbar--light {
		background-color: rgba($gray-lightest, 1.0);
	}

	&.toolbar--white {
		background-color: $white;
	}

	&.toolbar--inverse {
		background: rgba($gray-lightest, 0.25);
	}
}

.toolbar-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding-left: 0;
	margin-bottom: 0;
	list-style: none;

	&.center {
		justify-content: center;
	}

	.nav-title {
		padding: $filter-toolbar-title-padding $filter-toolbar-title-padding;

		&:first-child {
			padding-left: 0;
		}
	}

	.nav-item {
		font-size: $font-size-h4;
		cursor: pointer;

		&:hover {
			background: $gray-lightest;
		}

		&.active > .nav-link {
			font-weight: 700;
			color: $brand-inverse;
		}

		.nav-link {
			// todo check bootstrap?!
			padding: $filter-toolbar-title-padding;

			&:hover {
				color: $brand-primary;
			}

			&.active {
				font-weight: 700;
				color: $brand-inverse;
			}
		}
	}
}

.jumbotron .toolbar-nav {
	.nav-item:hover {
		background: $white;
	}
}

.toolbar-nav--has-icon {
	.nav-item {
		.nav-link {
			// todo check bootstrap?!
			padding: $filter-toolbar-padding-y $filter-toolbar-padding-x;

			&:hover {
				color: $brand-primary;
			}

			&.active {
				font-weight: 700;
				color: $brand-inverse;
			}
		}
	}
}


.toolbar-form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding-left: 0;
	margin-bottom: 0;
	list-style: none;

	&.center {
		justify-content: center;
	}

	.form-group {
		flex-grow: 1;

		// todo check bootstrap?!
		margin: $filter-toolbar-title-padding .5rem;

		&.form-group--wide {
			flex-grow: 2;
		}

		> input {
			width: 100%;
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	button {
		flex-grow: 1;
		// todo check bootstrap?!
		margin: $filter-toolbar-title-padding .5rem;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}
