// Navbar

.bg-faded {
	background-color: rgba($gray-lighter, .5);

	border: none;
	border-bottom: 1px solid $gray-lighter;
}

.navbar {
	// todo??!!
	font-size: 20px;
}

.navbar-brand {
	&.logo {
		position: absolute;
		top: -($navbar-padding-y);
	}
}

// todo refactoring
.navbar-nav {
	.nav-link {
		padding-right: 1rem !important;
		padding-left: 1rem !important;
	}
}

// Language Switcher
// todo refactoring
.navbar--language-switcher > .nav-item {
	font-size: $small-font-size;

	.nav-link {
		padding-top: 0.75em;
		padding-bottom: 0.75em;

		padding-right: .5rem !important;
		padding-left: .5rem !important;
	}

	&.active > .nav-link {
		font-weight: 700;
	}
}


/*------------------------------------*\
  #TOOLBAR
\*------------------------------------*/

.toolbar {
	position: relative;

	&.inverse {
		background: rgba($gray-lightest, 0.25);
	}
}

.toolbar-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding-left: 0;
	margin-bottom: 0;
	list-style: none;

	&.center {
		justify-content: center;
	}

	.nav-title {
		padding: $filter-toolbar-title-padding 0;
	}

	.nav-item {
		font-size: $font-size-h4;
		cursor: pointer;

		&:hover {
			background: $gray-lightest;
		}

		&.active > .nav-link {
			font-weight: 700;
			color: $brand-inverse;
		}

		.nav-link {
			// todo check bootstrap?!
			padding: $filter-toolbar-title-padding;

			&:hover {
				color: $brand-primary;
			}

			&.active {
				font-weight: 700;
				color: $brand-inverse;
			}
		}
	}
}

.toolbar-nav--has-icon {
	.nav-item {
		.nav-link {
			// todo check bootstrap?!
			padding: $filter-toolbar-padding-y $filter-toolbar-padding-x;

			&:hover {
				color: $brand-primary;
			}

			&.active {
				font-weight: 700;
				color: $brand-inverse;
			}
		}
	}
}

// Icons
.nav-link {
	.nav-link__icon {
		border: 2px solid $brand-primary;
		display: inline-block;
		border-radius: 50%;
		padding: 2px;

		.icon__stack {
			border-radius: 50%;
			height: 2.5em;
			width: 2.5em;
			display: inline-block;
			line-height: 2.5em;
			text-align: center;
			background-color: transparent;

			font-size: 1.25em;
			color: inherit;
		}
	}
}

.nav-link.active,
.active > .nav-link,
.nav-item:hover,
.nav-link:hover {
	.nav-link__icon {
		border: 2px solid $brand-primary;
		display: inline-block;
		border-radius: 50%;
		padding: 2px;

		.icon__stack {
			border-radius: 50%;
			height: 2.5em;
			width: 2.5em;
			display: inline-block;
			line-height: 2.5em;
			text-align: center;
			background-color: $brand-primary;

			font-size: 1.25em;
			color: white;
		}
	}
}
