// Navbar Search
#searchForm {
	-webkit-transition: width .5s ease;
	-moz-transition: width .5s ease;
	-o-transition: width .5s ease;
	transition: width .5s ease;

	overflow: hidden;
	width: 0;
}
#searchForm.collapsing {
   position: relative;
   height: auto !important;
}
#searchForm.show {
	width: 280px; // todo vars

	.form-control {
		width: 280px; // todo vars
	}
}
.nav-link--search-right {
	margin-right: 0 !important;
}
.nav-link--search-left {
	margin-left: 0 !important;
}
