.form-group--slider,
.form-group--slider-w-label {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.slider {
		flex-grow: 2;
	}

	.slider-helptext {
		margin-left: ($slider-line-height / 2);
		text-align: right;
	}
}

.form-group--slider-w-label {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.slider-helptext:first-child {
			margin-right: ($slider-line-height / 2);
			text-align: left;
		}

		.slider-helptext:last-child {
			margin-left: ($slider-line-height / 2);
			text-align: right;
		}
	}
}

.slider-track {
	height: $slider-track-height !important;
	margin-top: -($slider-track-height/2) !important;

	background-color: $gray-300;
	background-image: none;
}

.slider-selection {
	background-color: transparent;
	background-image: none;
}

.slider-handle {
	background-color: $brand-primary;
	background-image: none;
	box-shadow: none;
}

.slider-disabled {
	.slider-handle {
		background-color: $gray-500 !important;
		background-image: none !important;
		box-shadow: none !important;
	}
	.slider-track {
		background-color: $gray-300 !important;
		background-image: none !important;
		box-shadow: none;
		border: none;
	}
	.slider-selection {
		background-color: transparent !important;
		background-image: none !important;
	}
}
