// Tools > Job-Room & Amstat
// todo: wie soll dies abgebildet werden? eigenes toolkit?!

// Job-Room-landingpage
.tool__heading {
	font-weight: $text-weight-light;
	letter-spacing: $text-base-spacing;

	@media screen and (min-width: 480px){
		margin-top: 2em;
		margin-bottom: .75em;
	}

	@media screen and (max-width: 479px){
		font-weight: 400;
		font-size: $h4-font-size;
		text-align: center;
		margin: 1rem;
	}
}

.jumbotron--job-room {
	background-repeat: no-repeat !important;
	background: $main-color-gray-100;
}
.jumbotron--landingpage .tool__heading {
	margin-top: .75em;
}

// Job-Room job-search
.job-search__form {

	@media screen and (max-width: 479px) {
		.form-control-lg {
			padding: $input-btn-padding-y $input-btn-padding-x;
			font-size: $font-size-base;
			line-height: $input-height-inner;
		}

		.btn-lg {
			font-weight: $btn-font-weight;
			line-height: $input-btn-line-height;
			@include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-base, $input-btn-line-height, $btn-border-radius);
		}
	}
}

.job-search__filter {
	@media screen and (max-width: 479px) {
		background-color: rgba($main-color-gray-50, 1.0);
	}
}


.job-search__filter--toggler {
	font-size: 0.85rem;
	color: $main-accent-color;
	text-align: center;
	margin-bottom: 1rem;

	&:before {
		display: inline-block;
		margin-right: .5em;
		vertical-align: -0.05em;

		font-family: FontAwesome;
		font-size: 1.125em;
		content: '\f13a';

		-webkit-transition: transform 0.25s ease; /* Safari */
		transition: transform 0.25s ease;
	}
}

.show + .job-search__filter--toggler:before {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);

	-webkit-transition: transform 0.25s ease; /* Safari */
	transition: transform 0.25s ease;
}

// Job-Room-result
.result-list__item {
	cursor: pointer;

	padding: $alv-box-radius;
	margin-bottom: $margin-x-narrow;

	&:hover {
		background: $main-accent-color-50;
	}
}

// Job-Room-result - Badges!
.badge-yellow,
.badge-green,
.badge-blue,
.badge-gray {
	color: $body-color;
	font-weight: 400;
}

.badge-blue {
	@include badge-variant($main-accent-color-100);
}
.badge-gray {
	@include badge-variant($main-color-gray-100);
}
.badge-green {
	@include badge-variant($additional-accent-green-100);
}
.badge-yellow {
	@include badge-variant($additional-accent-amber-100);
}

// Job-Room-detail
.job-detail__map {
	width: 100%;
	height: 300px;
}

.job-detail__title {
	h2 {
		height: 2rem;
		margin-bottom: 1rem;
	}

	.job-detail__date {
		margin-left: $margin-y-general;
	}
}

.job-detail__content {
	margin-bottom: $margin-x-general;

	&:last-child {
		margin-bottom: 0;
	}

	> .job-detail__content__title {
		padding: .25rem .125rem;
		background: $main-color-gray-100;
	}

	.content__item {
		display: flex;
		flex-direction: row;

		strong {
			width: 33%;
			text-align: right;
		}

		span {
			width: 66%;
			margin-left: .5rem;
		}
	}
}

.job-detail__features {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.job-detail__map {
		width: 50%;
	}

	.features {
		margin-left: $margin-y-general;
		width: 50%;

		display: flex;
		flex-direction: column;
		align-content: stretch;

		.logo-box {
			width: 100%;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (max-width: 479px) {
	.job-detail__references {
		order: 1;
	}
	.job-detail__body {
		order: 0;
	}
	.job-detail__actions {
		order: 2;
	}

	.job-detail__company,
	.job-detail__pes {
		&.alv-logo-box {
			border-radius: 0 !important;
			padding: 0;
			background: transparent;
			font-size: inherit;
		}

		&.md-whiteframe-1dp {
			box-shadow: none;
		}
	}

	.job-detail__content {
		.content__item {
			display: flex;
			flex-direction: column;

			strong {
				width: 100%;
				text-align: left;
			}

			span {
				width: 100%;
				margin-left: 0;
			}
		}
	}
	.job-detail__features {
		flex-direction: column;

		.job-detail__map,
		.features {
			width: 100%;
			margin-bottom: .5rem;
			margin-left: 0;

			.logo-box,
			.logo-box:last-child {
				margin-bottom: .5rem;
			}
		}

		.md-whiteframe-1dp {
			border-radius: 0 !important;
			box-shadow: none;
		}
	}
}

// Candidate
.candidate-search {
	// todo media breakpoints!
	width: calc(100% - #{$margin-y-general * 2});

	margin: ($margin-x-general * 2) $margin-y-general;
	display: inline-block;

	legend {
		width: calc(75% - #{$margin-y-general});
		border-bottom: $input-btn-border-width solid $input-border-color;
		margin-bottom: (2 * $margin-x-general); // todo form-group--break!!
		font-size: $h4-font-size;
	}

	.form-group {
		display: flex;
		flex-direction: row;

		label {
			flex-grow: 0;
			width: calc(33% - #{$margin-y-general});
			text-align: right;
			margin-right: $margin-y-general;
		}

		div {
			flex-grow: 0;
			width: calc(42% - #{$margin-y-general});
		}
	}

	.btn {
		margin-left: 33%;
		width: calc(42% - #{$margin-y-general});
	}
}

.candidate-search__radar {
	position: absolute;
	top: ($margin-x-general + $margin-x-narrow);
	right: $margin-y-general;

	width: calc(25% - #{$margin-y-general});
	display: inline-block;

	padding: $margin-x-narrow;
	font-size: $small-font-size;
	text-align: center;
	color: $brand-primary;

	&:hover {
		background: $brand-primary;
		color: theme-color('light');

		a {
			color: theme-color('light');
		}

		.badge-radar {
			color: $brand-primary;

			@include badge-variant(theme-color('light'));
		}
	}

	a {
		display: block;
		font-weight: 700;
		margin-top: $margin-x-narrow;
		color: transparent;
	}
}


.badge-radar {
	font-size: 1em;
	margin: $margin-x-narrow/2;
	padding: $margin-x-narrow/2 $margin-y-general;
	border-radius: 1em;

	@include badge-variant($brand-primary);
}

// Process

@media screen and (max-width: 479px) {
	.landing-page--container.process-container {
		padding: $alv-box-radius;

		.process-container__text {
			display: none;
		}
	}
}
.process {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50%;

	@media screen and (max-width: 479px){
		flex-direction: column;
		height: 100%;
	}

	.process__item {
		flex-grow: 1;

		background: $white;
		height: 100%;

		margin-right: 2rem;
		padding: $margin-x-narrow $margin-y-narrow;
		position: relative;

		text-align: center;
		cursor: pointer;

		@media screen and (min-width: 480px){
			&:after {
				left: 100%;
				top: 50%;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-style: solid;
				border-color: transparent;
				border-left-color: rgba($white, 0.5);
				border-width: $margin-y-general;
				margin-top: -($margin-y-general);
			}

			&:last-child {
				margin-right: 0;

				&:after {
					border-width: 0;
					margin-top: 0;
				}
			}
		}

		&:hover {
			background: $brand-primary;
			color: theme-color('light');
		}

		p {
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%)
		}


		@media screen and (max-width: 479px){
			margin: .25rem 0;

			p {
				position: static;
				transform: none;
			}
		}
	}
}
