// Tools > Job-Room & Amstat
// todo: wie soll dies abgebildet werden? eigenes toolkit?!

h1.tool__heading {
	font-weight: $text-weight-light;
	letter-spacing: $text-base-spacing;

	margin-top: 2em;
	margin-bottom: .75em;
}

.result-list__item {
	cursor: pointer;

	padding: $alv-box-radius;
	margin-bottom: $margin-bottom-narrow;

	&:hover {
		background: $main-accent-color-50;
	}
}
