/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

h1 {
	letter-spacing: $text-h1-spacing;
	font-weight: 700;
}

h2 {
	letter-spacing: $text-h2-spacing;
	font-weight: 400;
}

h3 {
	letter-spacing: $text-h3-spacing;
	font-weight: 400;
}

h4, h5, h6 {
	letter-spacing: $text-h4-spacing;
	font-weight: 700;
}

strong {
	font-weight: 700;
}

/*------------------------------------*\
  #PARAGRAPH
\*------------------------------------*/

.light,
.text--light {
	font-weight: 300;
}

.text--regular {
	font-weight: 400;
}

.text--super {
	vertical-align: super;
}
.text--sub {
	vertical-align: sub;
}

.text--center-align {
	text-align: center;
}
.text--right-align {
	text-align: right;
}
.text--left-align {
	text-align: left;
}
.text--justify-align {
	text-align: justify;
}

.text--primary-color {
	color: $brand-primary;
}
.text--inverse-color {
	color: $brand-inverse;
}
.text--white-color {
	color: $white;
}
.text--base-color {
	 color: $body-color;
}

.text--no-letterspacing {
	letter-spacing: 0;
}

.text--line-height--h1{
	line-height: $h1-font-size;
}
.text--line-height--h2 {
	line-height: $h2-font-size;
}
.text--line-height--h3 {
	line-height: $h3-font-size;
}
.text--line-height--h4 {
	line-height: $h4-font-size;
}
.text--line-height--h5 {
	line-height: $h5-font-size;
}
.text--line-height--h6 {
	line-height: $h6-font-size;
}

/*------------------------------------*\
  #LINKS
\*------------------------------------*/
a:not([href]):not([tabindex]) {
	color: $link-color;
	cursor: pointer;

	&:hover {
		color: $link-color;
	}
}
