<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{{title}}</title>

	{{#if fabricator}}<link rel="stylesheet" href="{{baseurl}}/assets/fabricator/styles/f.css">{{/if}}

	<!-- styleguide styles -->
	<link rel="stylesheet" href="{{baseurl}}/assets/styleguide/styles/alv-ch.css">
	<!-- /styleguide styles -->

	<link rel="dns-prefetch" href="//fonts.googleapis.com/">
</head>

<body>
	<div class="header sticky-top">
		<!-- ALV-HEADER -->
		{{> header}}

		<!-- navbar -->
		{{> job-room-navbar}}
		<!-- /navbar -->
	</div>

	<!-- content -->
	<div class="container">

		<!-- todo tool-nav!! -->
		<div class="breadcrumb">
			<a href="job-result-list.html">Zurück zu den Suchergebnissen</a>
		</div>

		<div class="base">

			<div class="base__subnavbar" style="font-size: 80%;">

				<div class="alv-logo-box flex-height md-whiteframe-1dp">
					<div class="job-detail__content">
						<address>
							<strong>Adato AG</strong><br />
							Lagerhausstrasse 10<br />
							8400 Winterthur<br />
						</address>

						Telefon 052 269 23 23<br />
						www.adato.ch
					</div>

					<div class="job-detail__content">
						<strong>Ihre Kontaktperson</strong><br />
						Reto Keller<br />
						Personalberater<br />
						Gewerbe & Handwerk<br />
						r.keller@adato.ch<br />
						+41 52 269 23 26<br />
					</div>
				</div>

				<p></p>
				<div id="map" class="job-detail__map"></div>
				<script>
					function initMap() {
						var bern = {lat: 46.946953, lng: 7.424150};
						var map = new google.maps.Map(document.getElementById('map'), {
							zoom: 12,
							center: bern
						});
						var marker = new google.maps.Marker({
							position: bern,
							map: map
						});
					}
				</script>
				<script async defer
						src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3DRbPhGw-Q2RRK7EkcYqDsSFd0TSn00I&callback=initMap">
				</script>

				{{#if fabricator}}
				{{> f-control-bar}}
				{{> f-icons}}
				{{> f-menu-slim}}
				{{/if}}
			</div>

			<div class="base__content">
				{% body %}
			</div>

			<div class="base__related">
				<div style="position: relative;">
					<div>
						<button class="btn btn-primary btn-block btn-sm">Jetzt Bewerben</button>

						<p></p>

						<ul class="nav filter-nav flex-column">
							<li class="nav-item">
								<a class="nav-link" href="#"><i class="fa fa-star-o" aria-hidden="true"></i> Stellenangebot speichern</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#"><i class="fa fa-share" aria-hidden="true"></i> Link kopieren</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#"><i class="fa fa-envelope" aria-hidden="true"></i> Per E-Mail versenden</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#"><i class="fa fa-print" aria-hidden="true"></i> Drucken</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Als PDF speichern</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>

	</div>
	<!-- /content -->

	<!-- footer -->
	{{> footer}}
	<!-- footer -->

	<!-- seco-footer -->
	{{> footer-seco}}
	<!-- /seco-footer -->


<!-- JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{{#if fabricator}}
<script src="{{baseurl}}/assets/fabricator/scripts/f.js"></script>
{{/if}}
<!-- core Bootstrap -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<!-- Bootstrap-slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js"></script>
<script>
	// Without JQuery
	var slider = new Slider('#ex1', {
		formatter: function(value) {
			return 'Current value: ' + value;
		}});
	var slider2 = new Slider('#ex2', {
		formatter: function(value) {
			return 'Current value: ' + value;
		}});
	var slider3 = new Slider('#ex3', {
		formatter: function(value) {
			return 'Current value: ' + value;
		}});
</script>
	<!-- mobile -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.3.6/mobile-detect.min.js"></script>
	<!-- core ALV-CH -->
<script src="{{baseurl}}/assets/styleguide/scripts/alv-ch.js"></script>
<!-- WebFontLoader -->
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Open+Sans:300,400,700:latin']
    }
  });
</script>
<!-- /JavaScript -->

</body>
</html>
