<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{{title}}</title>

	{{#if fabricator}}
	<link rel="stylesheet" href="./{{baseurl}}/assets/fabricator/styles/f.css">
	{{/if}}

	<!-- styleguide styles -->
	<link rel="stylesheet" href="./{{baseurl}}/assets/styleguide/styles/alv-ch.css">
	<!-- /styleguide styles -->

	<link rel="dns-prefetch" href="//fonts.googleapis.com/">
</head>

<body>

<div class="header fixed-top">
	<!-- navbar -->
	{{> job-room-navbar}}
	<!-- /navbar -->
</div>

<div class="jumbotron jumbotron-fluid jumbotron--has-toolbar jumbotron--job-room background--job-room">

	<div class="toolbar">
		<div class="container">
			<div class="toolbar-collapse">
				<ul class="toolbar-nav toolbar--job-room center toolbar-nav--has-icon">
					<li class="nav-title">
						<h2 class="light">Job-Room bietet Leistungen für</h2>
					</li>
					<li class="nav-item active show-jobs">
						<a href="#" class="nav-link">
							<span>
								<span class="nav-link__icon">
									<span class="icon__stack">
										<i class="fa fa-binoculars" aria-hidden="true"></i>
									</span>
								</span>
							</span>
							<span>Stellensuchende</span>
						</a>
					</li>
					<li class="nav-item show-job-offers">
						<a href="#" class="nav-link">
							<span>
								<span class="nav-link__icon">
									<span class="icon__stack">
										<i class="fa fa-building" aria-hidden="true"></i>
									</span>
								</span>
							</span>
							<span>Unternehmen</span>
						</a>
					</li>
					<li class="nav-item show-candidates">
						<a href="#" class="nav-link">
							<span>
								<span class="nav-link__icon">
									<span class="icon__stack">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</span>
								</span>
							</span>
							<span>Arbeitsvermittler</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		<div id="jobs">
			{{> job-landingpage}}
		</div>

		<div id="candidates">
			{{> candidate-landingpage}}
		</div>
	</div>

	<div class="container">
		<p>{% body %}</p>
	</div>

</div>

<!-- footer -->
{{> footer-jobroom}}
<!-- /footer -->

<!-- modals -->
{{> login}}
<!-- /modals -->


<!-- JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!-- core Bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script>
	$('#candidates').hide();
	//$('#jobs').hide();

	$('.show-candidates').click(function () {
		$('#jobs').hide();
		$('#candidates').hide();

		$('.show-jobs').removeClass('active');
		$('.show-job-offers').removeClass('active');
		$('.show-candidates').removeClass('active');

		$('#candidates').show();
		$('.show-candidates').addClass('active');
	});

	$('.show-jobs').click(function () {
		$('#jobs').hide();
		$('#candidates').hide();

		$('.show-jobs').removeClass('active');
		$('.show-job-offers').removeClass('active');
		$('.show-candidates').removeClass('active');

		$('#jobs').show();
		$('.show-jobs').addClass('active');
	});

	$('.show-job-offers').click(function () {
		$('#jobs').hide();
		$('#candidates').hide();

		$('.show-jobs').removeClass('active');
		$('.show-job-offers').removeClass('active');
		$('.show-candidates').removeClass('active');

		$('#candidates').show();
		$('.show-job-offers').addClass('active');
	});
</script>
<!-- mobile -->
<script src="//cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.3.6/mobile-detect.min.js"></script>
<!-- core ALV-CH -->
<script src="./{{baseurl}}/assets/styleguide/scripts/alv-ch.js"></script>
<script src="./{{baseurl}}/assets/styleguide/scripts/drawer.js"></script>
<!-- WebFontLoader -->
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
	WebFont.load({
		google: {
			families: ['Open+Sans:300,400,700:latin']
		}
	});
</script>
<!-- /JavaScript -->

</body>
</html>
