<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{{title}}</title>

	{{#if fabricator}}<link rel="stylesheet" href="{{baseurl}}/assets/fabricator/styles/f.css">{{/if}}

	<!-- styleguide styles -->
	<link rel="stylesheet" href="{{baseurl}}/assets/styleguide/styles/alv-ch.css">
	<!-- /styleguide styles -->

	<link rel="dns-prefetch" href="//fonts.googleapis.com/">
</head>

<body>
<!-- header -->
<div class="header sticky-top">
	<!-- alv-header -->
	{{> header}}
	<!-- /alv-header -->

	<!-- navbar -->
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<div class="container">
			<!-- todo: CUSTOM TOGGLER -->
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<a class="navbar-brand logo" href="/index.html">
				<div class="logo__title">
					<strong>alv</strong><span class="title__plus-ch">ch</span>
				</div>
			</a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="fa fa-bars" aria-hidden="true"></i> Menü</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/job-room.html">Job-Room</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Amstat</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link--login" href="#">Login</a>
					</li>
					<li class="nav-item">
						<ul class="navbar-nav navbar--language-switcher" id="languageSwitcher">
							<li class="nav-item active">
								<a class="nav-link" href="#">DE</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">FR</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">IT</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">EN</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- /navbar -->
</div>
<!-- /header -->

<!-- toolbar -->
{{> toolbar}}
<!-- /toolbar -->

<!-- content -->
<div class="container container--landingpage">
	{% body %}
</div>
<!-- /content -->

<!-- jumbotron -->
{{> jumbotron}}
<!-- /jumbotron -->

<!-- content -->
<div class="container container--landingpage">
	{{> search-and-faq}}
</div>
<hr />
<div class="container container--landingpage">
	{{> basic-info}}
</div>
<div class="container--light container--landingpage">
	<div class="container">
		{{> news}}
	</div>
</div>
<!-- /content -->

<!-- footer -->
<footer>
	<div class="container">
		<h2 class="light">In Zusammenarbeit</h2>
		<div class="footer--logos">
			<div class="footer--logos__logo"><img class="cd-bund" src="{{baseurl}}/assets/styleguide/images/seco-de-neg.png" /></div>
			<div class="footer--logos__logo"><img src="{{baseurl}}/assets/styleguide/images/alv.png" /></div>
			<div class="footer--logos__logo"><img src="{{baseurl}}/assets/styleguide/images/rav.png" /></div>
			<div class="footer--logos__logo"><img src="{{baseurl}}/assets/styleguide/images/eures.png" /></div>
		</div>
	</div>
</footer>
<!-- footer -->

<!-- seco-footer -->
<div class="footer--seco">
	<a href="#">Staatssekretariat für Wirtschaft SECO</a>
	<a href="#">Rechtliche Grundlagen</a>
</div>
<!-- /seco-footer -->


<!-- JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{{#if fabricator}}
<script src="{{baseurl}}/assets/fabricator/scripts/f.js"></script>
{{/if}}
<!-- core Bootstrap -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<!-- Bootstrap-slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js"></script>
<script>
	// Without JQuery
	var slider = new Slider('#ex1', {
		formatter: function(value) {
			return 'Current value: ' + value;
		}
	});
</script>
<!-- core ALV-CH -->
<script src="{{baseurl}}/assets/styleguide/scripts/alv-ch.js"></script>
<!-- WebFontLoader -->
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
	WebFont.load({
		google: {
			families: ['Open+Sans:300,400,700:latin']
		}
	});
</script>
<!-- /JavaScript -->

</body>
</html>
